@using Microsoft.AspNetCore.Identity
@using TestTask.Models.Entities;
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to tesk task!</h1>


    @if (SignInManager.IsSignedIn(User))
    {
        <p>Hello @User.Identity.Name!</p>
    }
    else
    {
        <p>Register or log in to your account!</p>
    }



</div>
