
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

    <div>
        <h3>Registration</h3>
        <p>заполните следующие поля:</p>
        <form method="post" asp-action="Registration" asp-controller="User">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="FirstName" /> </td>
                </tr>
                <tr>
                    <td>LastName:</td>
                    <td><input type="text" name="Lastname" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="Email" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="Password" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
